.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-bottom: 200px;
  }
  
  .developers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .developer-card {
    width: 800px;
    padding: 20px;
    margin: 10px;
    background-color: #267988;
    border-radius: 8px;
    color: #efebff;
  }
  
  .developer-card h3 {
    margin-top: 10px;
    color: #efebff;
  }
  

  img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: solid black 2px;
  }
  /* .dev-cards {
    display: ;
  } */